.info-page {
  width: 838px;
  height: 1260px;

  box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.emailBox > .infopage-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  color: #fe3360;
  margin-bottom: 50px;
}

#disabled-input-box {
  background-color: #e0e0e0;
}

.checkedNickname2 {
  background-color: #e0e0e0;
}

.divied-info-tap {
  margin-top: 30px;
  margin-bottom: 30px;
}
