.phone-book-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  color: #fe3360;
  margin-bottom: 50px;
}

.add-contact-form {
  /* border: 1px solid gray; */
  height: 50px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 600px;
}

.phone-name-input {
  padding: 10px;
  width: 30%;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
}

.phone-number-input {
  padding: 10px;
  width: 40%;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
}

.add-contact-button {
  width: 20%;
  text-align: center;
  border: 1px solid #fe3360;
  border-radius: 8px;
  color: #fe3360;
  background-color: white;
  font-weight: bold;
}

.update-contact-button {
  width: 20%;
  text-align: center;
  border: 1px solid #0084ff;
  border-radius: 8px;
  color: #0084ff;
  background-color: white;
  font-weight: bold;
}

.cancel-update-contact-button {
  width: 10%;
  text-align: center;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
  color: #c1c1c1;
  background-color: white;
  font-weight: bold;
}
