@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
.temp-button{
    width: 150px;
    height: 30px;
    border-radius: 8px;
    color: white;
    background-color:#3774ff;
}
.check-wish-container{
    margin-left: 24px;
    padding-left: 5vw;
    margin-right: 24px;
}
.is-wish-layout{
    width: inherit;
    /* border: 1px solid blue; */
}

.empty-wish-container{
    display: flex;
    width: 80vw;
    height: 77vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.make-wish-button{
    margin-top: 10px;
}

.no-wish{
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 8.65266px;
    line-height: 9px;
    font-variant: small-caps;
    color: #E52E56;
    margin-top: 6px;
    margin-bottom: 15px;
}

.congrat-card-container{
    width: inherit;
}
.congrat-card-list{
    justify-content: center;
    align-items: center;
    position: inherit;
    z-index: 1;
    width: inherit;
    height: inherit;

}
.congrat-card-cover{
    display: inline-block;
    
}
.congrat-card{
    width: 21.5vw;
    height: 15vw;
    /* background: #FFD3CE;
    opacity: 0.4; */
    background: #ffe8e6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    }

.congrat-card-to{
    display: flex;
    justify-content: right;
}


/* wish-on-going */
.wish-on-going-background{
    position: absolute;
    z-index: 2;
    color: #FF3A61;
    width:100%;
    height:59vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Gothic';
    font-style: normal;
    
}
.wish-on-going-box{
    width: 100%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* slider */
.slider-and-label-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Nanum Gothic';
}

.slider-and-label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.horizontal-slider {
    height: 100%;
    max-height: 500px;
    width: 100vh;
    margin: auto;
    padding-bottom: 5px;
    border-radius: 2px;
  }
  .example-thumb {
    position: relative;
    display: none;
  }
  .example-thumb.active {
    background-color: grey;
  }
  .example-track {
    position: relative;
    background: #ddd;
  }
  .example-track.example-track-0 {
    background: #FE3360;
    
  }
  .horizontal-slider .example-track {
    top: 20px;
    height: 5px;
  }

.font-lg{
    font-size: 22.7px;
}
.font-xl{
    font-size: 37.7px;
}
.wish-container{
    position: relative;
    z-index: 1;
    height: 59vh;
    border: 0.5px solid #828483;
}
.show-toggle-btn-con{
    display: flex;
    width: 100%;
}
.show-toggle-btn{
    width: 50%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: 'Nanum Gothic';
    /* color: white; */
    background-color: #e0e0e04c;
    border-radius: 20px 20px 0 0;
    color:#828483;
}
.show-toggle-selected{
    color:#efefef;
    background-color:#FE3360;
}