@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.congrats-page-container {
  /* border: 1px solid lavender; */

  width: 100vw;
  min-height: 800px;
  margin-left: 54px;
  margin-right: 54px;
  height: auto;
  /* background-image: url('https://user-images.githubusercontent.com/87971876/215250292-4d85d3c3-f278-4a15-96cc-5d2a66b4a8b1.png'); */
  justify-content: center;
  display: flex;
  align-items: flex-start;
}

.wish-components {
  width: 70%;
  height: auto;
  /* border: 3px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  font-family: 'Nanum Gothic' sans-serif;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

.wish-compo-title {
  display: flex;
  justify-content: center;
  width: 100%;
}
.wish-compo-title h1 {
  font-family: ui-monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 54px;
  background: linear-gradient(180deg, #fe3360 44%, #fad5d9 91.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}
.wish-card-box {
  width: 100%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wish-card {
  /* min-width: 430px; */
  height: 430px;
  border-radius: 8px;
  width: 100%;
}
.wish-card-cover {
  /* background-image: url('https://user-images.githubusercontent.com/87971876/215254369-d144dcd7-00ae-4f1c-b740-c219c6e30821.png'); */
  overflow: cover;
  background-repeat: no-repeat;
  background-size: contain;
}
.wish-card-content {
  background: linear-gradient(
      0deg,
      rgba(164, 164, 164, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    conic-gradient(
      from 156.54deg at 50% 50%,
      rgb(207 207 207 / 63%) -6.92deg,
      rgba(197, 197, 197, 0.88) 148.13deg,
      rgba(255, 134, 152, 0.45) 255deg,
      rgb(208 208 208 / 63%) 353.08deg,
      rgb(193 193 193 / 88%) 508.13deg
    ); /* opacity: 0.5; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wish-gift-list {
  width: 100%;
  min-height: 150px;
  /* border: 1px solid #FE3360; */
  border-radius: 8px;
  /* background: radial-gradient(71.83% 71.82% at 49.82% 57.27%, #FE3360 0%, #FE3360 36.98%, rgba(254, 51, 96, 0.791562) 55.73%, rgba(254, 51, 96, 0.574062) 67.71%, rgba(254, 51, 96, 0.339394) 80.21%, rgba(254, 51, 96, 0.28) 87.5%, rgba(255, 255, 255, 0.42) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected ; */
  opacity: 0.8;
  box-shadow: 0px 4px 4px rgba(171, 171, 171, 0.2);
  border-radius: 10px;
  margin-top: 1em;
  /* background: #dddddd; */
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  backGround-color: #cfcfcf;
}
.wish-gift {
  width: 216px;
  /* min-height: 266px; */
  font-size: x-small;
  color: white;
  background: white;
  display: flex;
  border-radius: 8px;
  align-items: center;
  margin: 5px;
  /* border: 1px solid black; */
}
.wish-gift:hover{
  border: 0.5px inner #e52e56;
  
  /* background-color: #828483; */
}
.wish-congrats-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  flex-wrap: wrap;
}
.wish-congrats-btns .button {
  cursor: pointer;
  width: 100%;
  border: 1px solid #fe3360;
  border-radius: 8px;
  padding: 3px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wish-congrats-btns .color {
  border: 1px solid #e52e56;
  border-radius: 10px;
  color: #e52e56;
  margin-bottom: 10px;
}
.wish-congrats-btns .gray {
  border: 1px solid #828483;
  border-radius: 10px;
  color: #828483;
}
/* .wish-gift>div{
    width: 200px;
    height: 169px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
} */
.wish-gift-going {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  width: 100%;
}
.gift-img-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gift-img-box p {
  color: #3f3f3f;
}
.wish-gift > p {
  color: #828483;
}
.wish-gift-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.gift-img {
  height: 188px;
  background-position: center;
  background-size: contain;
  width: 90%;
  cursor: pointer;
  width: 100%;
  background-size: cover;
  border-radius: 8px 8px 0 0;
}
.gift-bar-gray {
  width: 81px;
  background-color: gray;
  height: 5px;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.wish-card wish-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wish-card wish-card-content h1 {
}
.wish-card-content pre {
  font-size: 16px;
  color: #3f3f3f;
  font-family: ui-monospace;
}
.wish-title {
  font-family: ui-monospace;
  font-size: 1.5em;
  font-weight: 300;
  -webkit-text-fill-color: #ff5e7a;
}
.finished-product {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #828483;
  opacity: 70%;
  border-radius: 5px;
  position: absolute;
  font-weight: 900;
  font-size: 16px;
  padding: 10px;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wish-components-title h1 {
  font-family: ui-monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 54px;
  background: linear-gradient(180deg, #fe3360 44%, #fad5d9 91.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.wish-gift-list{
  background-color: #cfcfcf99;
}
@media (min-width: 1025px) {
  .wish-card{
    width: 49%;
  }
}
@media (max-width: 1024px) {
  .wish-card{
    width: 45%;
  }
}
@media (max-width: 768px) {
  .wish-card{
    width: 100%;
    height: 20em;
    min-width:100px;
  }
  
  .wish-gift{
    max-width: 45%;
  }
}