  .component-1 {
    height: 262px;
    width: 310px;
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  .group-8-0 {
    height: 262px;
    width: 310px;
  }
  .rectangle-2-2 {
    opacity: 0.4000000059604645;
    transform: rotate(-90deg);
    height: 310px;
    width: 262px;
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  .frame-7-8 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
  }
  .text-1 {
    text-align: left;
    vertical-align: top;
    font-size: 22.652000427246094px;
    font-family: NanumGothic;
    line-height: auto;
    color: #000000;
  }
  .frame-7-9 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
  }
  .text-2 {
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    font-family: NanumGothic;
    line-height: auto;
    color: #4f5050;
  }
  .친-구-버-튼 {
    height: 16px;
    width: 56px;
  }
  .rectangle-2-6 {
    border-radius: 10px;
    height: 16px;
    width: 56px;
    background-color: #ffebef;
  }
  .text-3 {
    text-align: center;
    vertical-align: top;
    font-size: 8.652657508850098px;
    font-family: NanumGothic;
    line-height: auto;
    color: #393939;
  }
  .img-4 {
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
  }
  .cardcolor {
    background-color: white;
  }
  .backcolor {
    background-color: #fff1ef;
  }
  
  .searchbar{
    border: #000000 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color:transparent;
  }

  .search-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    border: none;
    background: url( "https://tifyimage.s3.ap-northeast-2.amazonaws.com/e0a94402-6583-4557-9508-307e5778dd20.png" ) no-repeat;
  }
