@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.go-back {
  width: 100%;
  margin-top: 20px;
  align-items: left;
}
.concon {
  width: 100vw;
  /* background-color: #f3f3f3; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gift-item-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}
.product-info > img {
  width: 500px;
  height: 500px;
}
.product-info {
  display: flex;
  margin-top: 20px;
  margin-bottom: 120px;
  width: 80%;
  justify-content: space-evenly;
}
.product-info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 50px; */
  width: 50%;
}

.product-name-like,
.product-price {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  font-size: 22.652px;
  line-height: 23px;
}
.product-price {
  font-weight: 700;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  color: #bcdbf7;
}
.product-name-like {
  display: flex;
  justify-content: space-between;
}
.product-like {
  border: 1px solid #828483;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.product-like img {
  max-width: 80%;
  height: 42px;
}
.make-wish {
  font-family: 'NanumGothic';
  cursor: pointer;
  color: #fe3360;
  border-color: #fe3360;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-radius: 8px;
  width: 100%;
  height: 52px;
  color: #fe3360;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
}
.make-wish:hover {
  background-color: #fe3360;
  color: white;
}
.product-info > img {
  width: 20vw;
  height: 20vw;
  border-radius: 10px;
}
.product-image {
  width: 50vw;
  border-radius: 10px;
}
.product-image img {
  width: 100%;
}
.product-price-option {
  width: 100%;
  display: flex;
  /* height: 200px; */
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
}
.product-color {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-option {
  font-family: 'NanumGothic';
  cursor: pointer;
  color: #bcdbf7;
  border-color: #bcdbf7;
  color: #bcdbf7;
  width: 100%;
  border: 1px solid #bcdbf7;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
.product-option:hover {
  background-color: #bcdbf7;
  color: white;
}
.product-price {
  color: #838fda;
  font-weight: 700;
}
.product-cate-like {
  font-family: 'NanumGothic';
  display: flex;
  justify-content: space-between;
}
.product-cate-like > p {
  font-family: 'NanumGothic';
  background-color: #838fdaab;
  width: wrap;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  text-align: center;
  color: white;
}
.product-cate-like p {
  font-size: 16px;
  font-weight: 600;
}
.product-cate-like span {
  margin-left: 10px;
  margin-right: 10px;
}
.product-cate-like h3 {
  color: gray;
}
.more-img {
  font-family: 'NanumGothic';
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 30px;
}
.more-img-btn {
  font-weight: bold;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #fe3360;
  border-radius: 8px;
  color: #fe3360;
}
.toLastPage {
  width: 24px;
  cursor: pointer;
}
.likeImg {
  width: 26px;
  height: 25px;
}
.gift-detail-likes {
  font-size: 17px;
  display: flex;
}
.gift-noti {
  width: 69%;
  text-align: center;
  margin: 0 auto;
}
.gift-noti > div {
  display: flex;
  background-color: #ffaec8;
  height: 100px;
  padding-top: 15px;
  padding-bottom: 25px;
  /* padding-left: 60px; */
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  justify-content: center;
}
.gift-noti-img > img {
  /* background-image: url('https://tifyimage.s3.ap-northeast-2.amazonaws.com/794dcba2-7048-43c6-ac5a-57412270c175.PNG'); */
  /* background-color: white; */
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin-right: 30px;
  border-radius: 7px;
}
.gift-noti-con {
  text-align: center;
  font-family: 'NanumGothic';
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 15px;
  color: white;
}
.gift-noti-con > p {
  color: #838fda;
  font-weight: bold;
}
.product-name-like > p {
  font-weight: bold;
  font-size: 18px;
}
.gift-recommend-list > p {
  color: black;
  font-weight: 900;
}
.gift-recommend-list > img {
  height: 80%;
}
.gift-recommend-list {
  margin-bottom: 30px;
}
