@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.go-back {
    width: 100%;
    margin-top: 20px ;
    align-items: left;
}
.concon {
    width: 100vw;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gift-item-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
}
.product-info > img{
    width: 500px;
    height: 500px;
}
.product-info{
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
    justify-content: space-evenly;
}
.product-info-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    
}

.product-name-like , .product-price{
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 22.652px;
    line-height: 23px;
}
.product-name-like{
    display: flex;
    justify-content: space-between;

}
.product-like{
    border: 1px solid #828483;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.product-like img{
    max-width: 80%;
    height: 42px;
}
.make-wish{
    background: #FE3360;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 557px;
    height: 52px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 22.652px;
    line-height: 27px;
    display: flex;
    align-items: center;
}
.product-image{
    width:85vw;
}
.product-image img{
    width: 100%;
}