.gift-recommend-card-container{
    width: 284.46px;
    height: 372.78px;
    /* border: 1px solid black; */
    margin: 2px;
}
.gift-image{
    width: 284.46px;
    height: 262.32px;
    background-color: rgb(217, 217, 217);
}