@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.logo {
  display: inline-block;
  margin-right: 20px;
}
.logo-left {
  width: 90px;
  min-width: 50px;
  height: 53px;
}
.navbar-container {
  background-color: white;
  border: solid 1px white;
  padding: 20px;
  width: 100vw;
  font-family: 'Noto Sans KR', sans-serif;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #8080806b;
  box-shadow: gray;
  position: static;
  margin-bottom: 2em;
}
.nav-left {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.nav-cate {
  all: unset;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #636564;
  display: flex;
  justify-content: space-around;
}
.nav-cate-item {
  padding: 10px;
}
.nav-cate-item.active {
  color: #ff4a6e;
}

.nav-cate a {
  font-weight: 500;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: space-around;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 20px;
}
.nav-cate a:hover {
  color: #d4d4d4;
}
.logo-right {
  height: 1.2em;
}
.wish {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.wish-detail {
  display: flex;
  flex-direction: row;
  padding-top: 7px;
}
.wish-detail a {
  padding-right: 10px;
}
.wish-detail.open {
  opacity: 100;
  color: #8284838a;
  font-weight: 600;
  animation-duration: 0.2s;
  animation-name: slide-in;
}
.wish-detail.hide {
  color: white;
  animation-duration: 0.2s;
  animation-name: slide-out;
}
.wish-detail a:hover {
  color: #828483;
}
.header-right {
  max-width: 30%;
  min-width: 15%;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header-right {
    display: none;
  }
}

.loginbtn {
  width: 78px;
  height: 28px;
  border-radius: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;

  margin-left: 5px;
}
.login {
  background: #fff1ef;
  color: #fe3360;
}
.join {
  background: #fe3360;
  color: #ffeae7;
}
