.joined-wish-div {
  width: 1040px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.joined-wish-div > .joined-wish-box {
  width: 500px;
  height: 250px;
  padding: 30px;
  margin-bottom: 20px;
}

.joined-wish-box > .p-date {
  text-align: right;
  font-size: 9px;
  color: #a1a3a2;
}

.joined-wish-box > .p-proceed {
  text-align: right;
  font-size: 14px;
  color: #fe3360;
}

.joined-wish-box > .p-done {
  text-align: right;
  font-size: 14px;
  color: #a1a3a2;
}

.joined-wish-box > .category-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.category-div > .joined-wish-title {
  /* text-align: center; */
  font-weight: bold;
  width: 100%;
  font-size: 18px;
  padding-left: 20px;
}

.joined-wish-box > .button-div {
  display: flex;
  justify-content: space-between;
}

.button-div > button {
  width: 200px;
  height: 40px;
  /* background-color: black; */
  border: 1px solid;
  border-radius: 10px;
}

.button-div > .button-gift {
  border-color: #fe3360;
  color: #fe3360;
}

.button-div > .button-card {
  border-color: #c1c1c1;
  color: #c1c1c1;
}
