.img-div {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 75px;
  height: 75px;
  border-radius: 50%;

  background-position: center;
  background-size: auto 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.img-div > .profile-img {
  width: 20%;
  height: 20%;
  /* float: right; */
}

.insidebox input:invalid {
  background-color: yellow;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
