@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
.gift-list {
  min-height: 800px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}
.like-container {
  /* width: fit-content; */
  width: 300px;
  height: fit-content;
  border-radius: 8px;
  font-size: small;
}

.delete-like {
  padding: 10px;
  padding-bottom: 0;
  color: rgb(121, 121, 121);
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
}

/* .like-container:hover > .delete-like{
    color: gray;
} */
.delete-like:hover {
  color: gray;
}
.no-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.no-product button {
  float: right;
  padding: 1vw 6vw 1vw 6vw;
  gap: 10px;
  border: none;
  background-image: url(/src/assets/buttonGradient.svg);
  background-size: cover;
  border-radius: 10px;
  margin-top: 2vw;
  height: 52px;
  color: white;
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  width: 333px;
}
.no-product > h1 {
  font-size: medium;
  color: gainsboro;
  font-family: 'NanumGothic';
}

.friends-paging-wrap {
  width: 100%;
  background-color: white;
  position: absolute;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.friends-paging {
  margin: 0 auto;
  text-align: center;
  background-color: blue;
}
.delete-like {
  font-size: 18px;
}
.delete-like:hover {
  font-size: 20px;
  content: 🤍;
}
