@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
.wish-page-container{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 3%;
    flex-wrap: wrap;
}
.make-wish-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 600px;
}
.input-form{
    display: flex;
    flex-direction: column;
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    width: 100%;
}
.input-form >input, .input-form >textarea{
    width: 100%;
    max-width: 882px;
    min-height: 52px;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    
}
.input-form >textarea{
    min-height: 110px;
    padding: 7px;
    line-height: 18px;
    font-size: 14px;
}
.input-wide input{
    min-height: 110px;
}

.make-wish-form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}
.input-select select{
    max-width: 200px;
    height: 52px;
    margin-top: 10px;
    background-color: #C1C1C1;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
}

.wish-card{
    width: 523px;
    height: 312px;
    border-radius: 8px;
}
.m-wish-card{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    /* flex-direction:column; */
}
.card-container{
    width: 50%;
    height: auto;
}
.wid-100{
    width: 100%;
}
.wid-50{
    width: 50%;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.wish-card-container{
    min-height: 110px;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100vw;
    max-width: 882px;
    height: 160px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    -ms-overflow-style: none; /*스크롤 안생기게*/
}
.wish-card-container::-webkit-scrollbar{
    display:none;
  }
.wish-card-item{
    width: 215px;
    height: 128px;
    /* background-image: url('https://user-images.githubusercontent.com/87971876/215888313-74ec7287-2138-4ebb-8423-340b2e501deb.png'); */
    overflow: cover;
    /* background-color: #efefef; */
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    margin-left: 10px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.wish-card-gift{
    display: flex;
    width: 138px;
    /* height: 128px; */
    border-radius: 8px;
    margin-left: 10px;
}

.duration-from {
    /* width: 80vw; */
    /* max-width: 882px; */
    min-height: 52px;
    /* border: solid 1px #C1C1C1; */
    /* border-radius: 8px; */
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.react-calendar { 
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
   }
   .react-calendar__navigation button {
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   }
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 6px;
   }
   .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: #6f48eb;
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #6f48eb;
    color: rgb(0, 255, 21);
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #6f48eb;
    color: white;
   }
   
.address-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 882px;
    min-height: 52px;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.address-form input{
    width: 90%;
    /* z-index: -100; */
}
.address-form button {
    /* z-index: 100;
    width: inherit; */

}
.address-form-container span{
    color:#C1C1C1 ;
}
.grd-btn{
    background: radial-gradient(71.83% 71.82% at 49.82% 57.27%, #FE3360 0%, #FE3360 36.98%, rgba(254, 51, 96, 0.791562) 55.73%, rgba(254, 51, 96, 0.574062) 67.71%, rgba(254, 51, 96, 0.339394) 80.21%, rgba(254, 51, 96, 0.28) 87.5%, rgba(255, 255, 255, 0.42) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.make-wish-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 0px;
    gap: 10px;
    width: 582px;
    border: 1px solid #FFF1EF;
    border-radius: 10px;
}
.make-wish-btn-con{
    margin-top:50px;
    margin-bottom: 50px;
    width: 882px;
    display: flex;
    justify-content: center;
}

.add-gift-icon{
    cursor: pointer;
}
.add-gift-icon-con{
    width: 164x;
    display: flex;
    justify-content: center;
}
.make-wish-btn > *{
    margin-bottom: 10px;
}
.finish-wish-container{
    display: flex;
    padding: 10vw;
    width: 100vw;
    padding-top: 0;
}
.preview-wish{
    display: flex;
    width: 60%;
    flex-direction: column;
    border: 1px solid #cbcbee;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.preview-wish img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.finish-wish-comment{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finish-wish-comment h1{
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    color: #E52E56;
}
.finish-wish-comment p{
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFC0CE;
    margin-top: 10px;
}

.selectedCard{
    border: 1px solid #E52E56;
}

.postcode{
    width: 8%;
}

.modal-modal{
        /* min-height: 100vh; */
        max-height: 10000vh;
        /* display: flex; */
        overflow-x: hidden;
        overflow-y: auto;
        white-space: wrap;
        flex-direction: row;
        margin-top: 50px;
        margin-bottom: 50px;
}
.modal-con{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 카드목록 */
.like-list{
    display: flex;
    flex-wrap: wrap;
}
.like-item-card-container{
    width: 100%;
}
.gift-text{
    font-size: small;
    color: gray;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.pm-btn{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pm-btn button{
    min-width: 30px;
}
.gift-price{
    font-size: 16px;
    font-weight: 600;
}
.like-item-card{
    display: flex;
}
.like-gift-image{
    width:230px;
}

.finish-wish-con{
    display: flex;
    justify-content: space-evenly;
}
.finish-congrats{
    border: 1px solid lavender;
    width: 30%;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fin-wcd{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    /* padding: 10px; */
    flex-direction: column;
    word-break: normal;
    flex-wrap: nowrap;
    /* background-color: #C1C1C1; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

    min-height: 300px;
    height: fit-content;
    max-height: 600px;
}
.fin-wcd>pre::-webkit-scrollbar{
    display:none;
  }
.gift-img{
    background-size: cover;
}

.wish-gift{
    word-break: break-all;
    width: 94px;
    font-size: x-small;
    color: white;
}
.css-1wnsr1i{
    width: auto;
}

.postcode-myaddr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cart-list{
    font-size: 22px;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
.gift-container{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
}
.MuiFormControlLabel-root{
    border-bottom: 1px solid #e9e9e9;
}
.MuiFormControlLabel-root:hover{
    background-color: #dcdce495;
}
/* carousel */
.css-1t4vnk2-MuiDialogContent-root{
    -ms-overflow-style: none;
}
.css-1t4vnk2-MuiDialogContent-root::-webkit-scrollbar{
    display:none;
  }
  .carousel .slider-wrapper.axis-horizontal .slider {
    display: flex;
    justify-content: flex-start;
}

.carousel .slide{
    height: fit-content;
    overflow: hidden;
}
.carousel .control-dots{
    display: none;
}
.img-small{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.img-small > img{
    /* height: 50%; */
}
.carousel .thumb{
    height: 55px;
    overflow: hidden;
}
.wish-card-sel{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.wish-card-vis-none{
    opacity: 10%;
}
.start-bottom{
    display: flex;
    
}
.border-bottom{
    border-bottom: 1px solid black;
}
.cate-input{
    height: 90%;
    margin-bottom: 8px;
    padding:8px;
    background-color:#c1c1c176;
    border-radius: 8px;
}
.wid-20{
    width: 20%;
}
.my-addr{
    justify-content: center;
    align-content: center;
    display: flex;
    border: 1px solid #C1C1C1;
    border-radius: 8px;
    cursor: pointer;
    height: 52px;
    align-items: center;
    min-width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}
.selected {
    border: 2px solid #fe3360;
}
.brbr{
    width: 100%;
    height: 0;
    border: 0.5px solid rgb(230, 230, 230);
}
.padd{
    margin-top: 20px;
    margin-bottom: 20px;
}