@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.input-form{
    display: flex;
    flex-direction: column;
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
}
.input-form input{
    width: 80vw;
    max-width: 882px;
    min-height: 52px;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    
}
.input-wide input{
    min-height: 110px;
}

.make-wish-form{
    margin-left: 270px;
}
.input-select select{
    max-width: 200px;
    height: 52px;
    margin-top: 10px;
    background-color: #C1C1C1;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
}

.wish-card{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}
.wish-card-container{
    min-height: 110px;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 80vw;
    max-width: 882px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wish-card-item{
    width: 215px;
    height: 128px;
    background-image: url('https://user-images.githubusercontent.com/87971876/215888313-74ec7287-2138-4ebb-8423-340b2e501deb.png');
    overflow: cover;
    /* background-color: #C1C1C1; */
    /* border: solid 1px #C1C1C1; */
    border-radius: 8px;
    margin-left: 10px;
}
.wish-card-gift{
    width: 138px;
    height: 128px;
    /* background-color: #C1C1C1; */
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    margin-left: 10px;
}

.duration-from{
    width: 80vw;
    max-width: 882px;
    min-height: 52px;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.react-calendar { 
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
   }
   .react-calendar__navigation button {
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   }
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 6px;
   }
   .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: #6f48eb;
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #6f48eb;
    color: rgb(0, 255, 21);
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #6f48eb;
    color: white;
   }
   
.address-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    max-width: 882px;
    min-height: 52px;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.address-form input{
    width: 90%;
    /* z-index: -100; */
}
.address-form button {
    /* z-index: 100;
    width: inherit; */

}
.address-form-container span{
    color:#C1C1C1 ;
}

.make-wish-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 0px;
    gap: 10px;
    background: radial-gradient(71.83% 71.82% at 49.82% 57.27%, #FE3360 0%, #FE3360 36.98%, rgba(254, 51, 96, 0.791562) 55.73%, rgba(254, 51, 96, 0.574062) 67.71%, rgba(254, 51, 96, 0.339394) 80.21%, rgba(254, 51, 96, 0.28) 87.5%, rgba(255, 255, 255, 0.42) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    width: 582px;
    border: 1px solid #FFF1EF;
    border-radius: 10px;
}
.make-wish-btn-con{
    margin-top:50px;
    margin-bottom: 50px;
    width: 882px;
    display: flex;
    justify-content: center;
}

.add-gift-icon{
    cursor: pointer;
}
.make-wish-btn > *{
    margin-bottom: 10px;
}
.finish-wish-container{
    display: flex;
    padding: 10vw;
    width: 100vw;
    padding-top: 0;
}
.preview-wish{
    display: flex;
    width: 60%;
    flex-direction: column;
    border: 1px solid #cbcbee;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.preview-wish img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.finish-wish-comment{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finish-wish-comment h1{
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    color: #E52E56;
}
.finish-wish-comment p{
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFC0CE;
    margin-top: 10px;
}