@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.page-name-block {
    height: 222px;
    width: auto;
    display: inline;
}
.page-name{
    height: 222px;
    background-image: url('https://user-images.githubusercontent.com/87971876/213893097-a966b259-7366-4a59-8866-ff1e1de7e4fc.svg');
    width: 550px;
    margin-left: 24px;
}
.input-form{
    display: flex;
    flex-direction: column;
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
}
.input-form input{
    width: 80vw;
    max-width: 882px;
    min-height: 52px;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    
}
.input-wide input{
    min-height: 110px;
}

.make-wish-form{
    margin-left: 270px;
}
.input-select select{
    max-width: 200px;
    height: 52px;
    margin-top: 10px;
    background-color: #C1C1C1;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
}

.wish-card{
    display: flex;
    justify-content: left;
    align-items: center;
}
.wish-card-container{
    min-height: 110px;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 80vw;
    max-width: 882px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wish-card-item{
    width: 215px;
    height: 128px;
    background-color: #C1C1C1;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    margin-left: 10px;
}
.wish-card-gift{
    width: 138px;
    height: 128px;
    background-color: #C1C1C1;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    margin-left: 10px;
}

.duration-from{
    width: 80vw;
    max-width: 882px;
    min-height: 52px;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.react-calendar { 
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
   }
   .react-calendar__navigation button {
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   }
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 6px;
   }
   .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: #6f48eb;
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #6f48eb;
    color: rgb(0, 255, 21);
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #6f48eb;
    color: white;
   }
   
.address-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    max-width: 882px;
    min-height: 52px;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.address-form input{
    width: 90%;
    /* z-index: -100; */
}
.address-form button {
    /* z-index: 100;
    width: inherit; */

}
.address-form-container span{
    color:#C1C1C1 ;
}