.mypage-div {
  margin-left: 90px;
  margin-top: 80px;
  display: flex;
  min-height: 1000px;
}

.side-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
  margin-right: 20px;
}

.side-div > .profile-div {
  width: 125px;
  text-align: center;
  margin-bottom: 40px;
}

.profile-div > .profile-name {
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.profile-div > .profile-nickname {
  font-size: 14px;
}

.side-menu-div {
  width: 265px;
}

.side-menu-div > .side-menu {
  display: flex;
  align-items: center;
  color: #4f5150;
  font-size: 14px;
  height: 60px;
  padding-left: 20px;
}

.side-menu-div > .active-menu {
  background: #bbdaf7;
  border-radius: 0px 40px 40px 0px;
}

.side-menu-div > .side-menu > p {
  margin-left: 30px;
  font-weight: bold;
}

.side-menu > img {
  width: 24px;
}

.my-wish-div {
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
}

.my-wish-div > .wish-box {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 20px;
}

.my-wish-div > .wish-box:hover {
  background-color: #e1f1ff;
}

.wish-box > .p-date {
  text-align: right;
  font-size: 9px;
  color: #a1a3a2;
}

.wish-box > .p-proceed {
  text-align: right;
  font-size: 14px;
  color: #fe3360;
}

.wish-box > .p-done {
  text-align: right;
  font-size: 14px;
  color: #a1a3a2;
}

.wish-box > .category-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-div > .wish-title {
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-size: 18px;
}

.wish-box > .profile-div {
  margin-top: auto;
  background-color: black;
}

.donator-div {
  margin-top: 50px;
}

.no-donate {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 66px;
  text-align: center;
  font-size: 14px;
}

.img-div {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 75px;
  height: 75px;
  border-radius: 50%;

  background-position: center;
  background-size: auto 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.img-div > .profile-img {
  width: 20%;
  height: 20%;
  /* float: right; */
}
