.order-div {
  width: 75%;
  display: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.order-div > .order-box {
  margin: auto 0;
  width: 100%;
  height: 49%;
  margin-bottom: 6%;
  border-radius: 10px;
  padding: 3%;
}

.order-box > .gift-info-div {
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2%;
}

.gift-info-div > .gift-img {
  /* float: left; */
  width: 110px;
  height: 115px;
  background-color: gainsboro;
  border-radius: 10px;
}

.gift-info-div > .gift-info-detail-div {
  float: right;
  width: 83%;
  margin-left: 3%;
}

.gift-info-detail-div > .detail-top-div {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 3%;
}

.order-box-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.gift-info-detail-div > .wrap-detail-div {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  justify-content: space-between;
}

.wrap-detail-div > .detail-right-div {
  margin-right: 50%;
}

.order-box-top > .p-order-state {
  text-align: left;
  font-size: 16px;
  color: #9acaf7;
  font-weight: bold;
  margin-bottom: 0.6%;
}

.order-box-top > .p-finished-date {
  text-align: right;
  font-size: 15px;
  color: #c2c2c2;
  font-weight: bold;
  margin-bottom: 0.6%;
}

.wrap-detail-div > .p-delilvery {
  text-align: right;
  float: right;
  margin-left: auto;
  width: 100%;
  font-size: 16px;
  text-decoration: underline;
  color: #a1a3a2;
  margin-right: 0.5%;
}

.detail-right-div > .p-gift-gathered-price {
  color: #f16061;
}

.button-div > button {
  width: 49%;
  height: 100%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: 1px solid;
  border-radius: 10px;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
}

.button-div > .button-left {
  border-color: #fe3360;
  color: #fe3360;
}

.button-div > .button-right {
  border-color: #c1c1c1;
  color: #c1c1c1;
}
