.search-bar-container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    width: 100vw;
}

.serach-bar{
    margin-top: 20px;
    width: 60vw;
    height: 52px;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
@media (min-width : 1025px)
{
    .serach-bar{
        width: 60%;
    }
    .serach-bar input {
        width: 57vw;
        background-color: none;
    }
}
@media (max-width : 1024px)
{
    .serach-bar{
        width: 70%;
    }
    .serach-bar input {
        width: 67vw;
        background-color: none;
    }
}
@media (max-width : 768px)
{
    .serach-bar{
        width: 90%;
    }
    .serach-bar input {
        width: 87vw;
        background-color: none;
    }
}